@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";


@theme inline {
  --color-jade-50: oklch(0.947 0.085 154.23);
  --color-jade-100: oklch(0.892 0.19 153.67);
  --color-jade-200: oklch(0.804 0.204 153.43);
  --color-jade-300: oklch(0.72 0.182 153.65);
  --color-jade-400: oklch(0.636 0.162 153.48);
  --color-jade-500: oklch(0.553 0.141 153.39);
  --color-jade-600: oklch(0.469 0.119 153.47);
  --color-jade-700: oklch(0.385 0.097 153.73);
  --color-jade-800: oklch(0.302 0.077 153.54);
  --color-jade-900: oklch(0.217 0.055 153.39);
  --color-jade-950: oklch(0.172 0.043 154.27);
  --color-dane-50: oklch(0.964 0.014 254.61);
  --color-dane-100: oklch(0.923 0.033 248.17);
  --color-dane-200: oklch(0.851 0.067 246.57);
  --color-dane-300: oklch(0.771 0.109 241.85);
  --color-dane-400: oklch(0.693 0.123 238.98);
  --color-dane-500: oklch(0.615 0.109 239.2);
  --color-dane-600: oklch(0.548 0.097 239.06);
  --color-dane-700: oklch(0.471 0.084 239.35);
  --color-dane-800: oklch(0.394 0.069 238.32);
  --color-dane-900: oklch(0.325 0.057 238.28);
  --color-dane-950: oklch(0.284 0.05 239.05);
  --color-amber-50: oklch(0.959 0.024 57.69);
  --color-amber-100: oklch(0.925 0.045 55.33);
  --color-amber-200: oklch(0.844 0.111 63.63);
  --color-amber-300: oklch(0.769 0.165 70.07);
  --color-amber-400: oklch(0.68 0.145 70.42);
  --color-amber-500: oklch(0.592 0.127 69.94);
  --color-amber-600: oklch(0.497 0.106 70.44);
  --color-amber-700: oklch(0.409 0.088 69.57);
  --color-amber-800: oklch(0.322 0.069 70.35);
  --color-amber-900: oklch(0.225 0.049 70.02);
  --color-amber-950: oklch(0.18 0.039 70.86);

  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-noto-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: 255 255 255;
  --foreground: 15 23 42;
  --card: 255 255 255;
  --card-foreground: 15 23 42;
  --popover: 255 255 255;
  --popover-foreground: 15 23 42;
  --primary: 29 138 220;
  --primary-foreground: 255 255 255;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.75rem;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: 255 255 255;
  --foreground: 15 23 42;

  --primary: 29 138 220;
  --primary-foreground: 255 255 255;

  --secondary: 0 177 97;
  --secondary-foreground: 2 6 23;

  --success: 0 177 97;
  --success-foreground: 2 6 23;
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer components {
  .icon-option {
    @apply h-[32px] w-[32px] bg-primary dark:bg-primary/60 dark:hover:bg-primary/80 dark:text-white hover:bg-primary/20 text-primary p-[5px] rounded-lg cursor-pointer;
  }
}